
.button {
  width: fit-content;
  height: 36px;
  padding: 6px 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-700);
  color: var(--primary-contrast);
  border: 3px solid var(--primary-700);
  cursor: pointer;
}

.button--secondary {
  background-color: transparent;
  border: 3px solid var(--primary-700);
  color: var(--primary-700);
}

.button:active {
  box-shadow: 0px 0px 3px 1px var(--primary-500);
}