
.icon-button {
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  color: var(--gray-700);
  padding: 6px;
}

.icon-button:active:not(:disabled) {
  background-color: var(--gray-800);
  color: var(--gray-contrast);
  border-radius: 6px;
}

.icon-button--secondary {
  background-color: var(--gray-800);
  color: var(--gray-contrast);
  border-radius: 6px;
}

.icon-button--secondary:active:not(:disabled) {
  background-color: var(--gray-600);
  color: var(--gray-contrast);
  border-radius: 6px;
}